@import "../../styles/index.scss";

.Button {
  @include borders($borange, $bg);
  @include buttons;
  background: $bg-borange repeat;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.discovered {
    background: $bg-pattern repeat;
    border-width: 1px;
    border-style: dotted;
    border-color: $borange;

    &.bomb {
      background: $bg;
    }
  }

  &.flagged {
    // @include borders($border-flag, $border-dark);
    // background: $bg-flag repeat;
  }

  img {
    // removes unintentional whitespace
    display: table-cell;
  }

  span {
    font-style: bold;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: 18px;
    width: 100%;

    &.one {
      color: lightblue;
    }

    &.two {
      color: lightgreen;
    }

    &.three {
      color: lightcoral;
    }

    &.four {
      color: lavender;
    }

    &.five {
      color: lightsalmon;
    }

    &.six {
      color: turquoise;
    }

    &.seven {
      color: white;
    }

    &.eight {
      color: lightyellow;
    }
  }
}
