@import "../../styles/index.scss";

.Button {
  @include borders($border-light, $border-dark);
  @include buttons;
  height: 30px;
  width: 30px;
  display: table;

  &.discovered {
    background-color: $border-dark;
    border-width: 1px;
    border-style: dotted;
    border-color: $border-light;
  }

  span {
    // margin: 0 auto;
    font-style: bold;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: 16px;
    width: 100%;

    &.one {
      color: lightblue;
    }

    &.two {
      color: lightgreen;
    }

    &.three {
      color: lightcoral;
    }

    &.four {
      color: lavender;
    }

    &.five {
      color: lightsalmon;
    }

    &.six {
      color: turquoise;
    }

    &.seven {
      color: white;
    }

    &.eight {
      color: lightyellow;
    }
  }
}
