$border-light: white;
$border-dark: #999;

@mixin borders($left-top, $right-bottom) {
  border-width: 4px;
  border-style: solid;
  border-color: $left-top $right-bottom $right-bottom $left-top;
}

@mixin buttons {
  &:active{
    @include borders($border-dark, $border-light);
  }
}