$border-light: #739e5a;
$border-dark: #376d68;
$bg-tile: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAACZJREFUCJljNM/N+G9j+InhyHk+BhvDTwxMyJwj5/kYmJA5WFUAAFXwGHK6JUv8AAAAAElFTkSuQmCC);

@mixin borders($left-top, $right-bottom) {
  border-width: 4px;
  border-style: solid;
  border-color: $left-top $right-bottom $right-bottom $left-top;
}

@mixin buttons {
  &:active{
    @include borders($border-dark, $border-light);
  }
}