@import '../../styles/index.scss';

.App{
  display: flex;
  filter: contrast(1.4) hue-rotate(20deg);
  font-family: 'Jet Brains Mono', monospace;
}

.Panel{
  margin-left: 3em;
  padding: 1em;
  border-top: 4px solid $border-light;
  width: 30em;
  
  background: $bg-panel repeat;
  
  color: $border-light;
  font-size: 14px;
  
  
  h2{
    float: left;
  }

  ul{
    clear: both;
  }
}

.ShowInstructionsToggle{
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  margin-top: 4px;
  float: right;
  color: $border-light;
  background: none;
  font-style: bold;
}

.PersonalHighscoresHeader{
  margin-top: 3em;
  // border-top: 4px solid $border-light;
  width: 100%;

  clear: both;
}