@import '../../styles/index.scss';

.Game{
  background: $bg-borange repeat;
  padding: 16px;
  padding-bottom: 10px;
  @include borders($borange, $bg);
  box-shadow:  20px 20px 35px #0f0f0f,
             -20px -20px 35px #24252b;
}

.Header {
  background: inherit;
  padding: 10px 12px;
  @include borders($bg, $borange);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Body {
  margin-top: 16px;
  @include borders($bg, $borange);
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);
  background: #111;
}

.GamePhaseButton{
  border-radius: 48%;
  @include borders($borange, $bg);
  @include buttons;
  width: 52px;
  height: 52px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-repeat: repeat;
  

  &.apriori{
    background: $bg;
  }

  &.playing{
    background: $bg-status;
  }

  &.won{
    background: $bg-borange;
  }

  &.lost{
    background: $bg;
  }
}

.MessageContainer{
  width: 100%;
  display: grid;
  padding-top: .25em;
  grid-template-columns: 1fr auto 1fr;

  span {
    border-top: 2px solid $bg;
    height: 1px;
    align-self: center;
  }
}

.Message{
  background-color: $borange;
  padding: 0.025em 3px;
  font-style: italic;
  font-size: 13px;
}