@import '../../styles/index.scss';

.NumberDisplay {
  width: 80px;
  font-size: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  color: rgb(253, 133, 53);
  // font-family: 'Courier New', Courier, monospace;
  font-family: 'Jet Brains Mono', monospace;
  background-color: $border-dark;
}