@import '../../styles/index.scss';

.NumberDisplay {
  width: 80px;
  font-size: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  color: $borange;
  // font-family: 'Courier New', Courier, monospace;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 600;
  background-color: $bg;
}