* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 16px;
  background-color: #111;
}
